{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Colleges
{% endblock %}

{% block content %}

    <main class="pg-course bg-secondary">
        <section class="sc-banner sc-py-6 px-3 d-flex align-items-center">
            <div class="container">
                <div class="sc-banner-cnt">
                    <div class="sc-block row align-items-lg-center">
                        <div class="sc-block-l text-center col-lg-6 text-lg-start">
                            <div class="max-w-wrapper">
                                <h1 class="title-lg">Choose a course to find your future update</h1>
                                <p class="p-text mb-0">As Nepal’s leading education consultancy agency, we help students get
                                    into top institutions from all corners of the globe.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-img">
                <img src="{% static 'front/assets/images/course-pg/course-banner.png' %}" alt="">
            </div>
        </section>

        <section class="sc-course sc-py-6 px-3 bg-ghost-white">
            <div class="container">
                <div class="sc-course-cnt">
                    <div class="sc-block">
                        <div class="course-selection row">
                            <div class="course-selection-l col-lg-8 d-lg-flex align-items-center">
                                <p class="no-wrap me-3">Filter By</p>
                                <select name="programType" id="degreeType" class="form-select mb-3 me-lg-2 me-xl-3">
                                    <option value="" disabled selected>Choose a Program type</option>
                                    <option value="2">Master Program</option>
                                    <option value="1">Bachelor Program</option>

                                </select>

                                <select name="subject" id="subject" class="form-select mb-3">
                                    <option selected disabled value="">Choose a Course</option>
                                    {% for course in courses %}
                                        <option value="{{ course.name }}">{{ course.name }}</option>
                                    {% endfor %}
{#                                        <option value="9">Biosecurity Science</option>#}
{#                                        <option value="8">Music</option>#}
{#                                        <option value="7">Biomedical Science</option>#}
{#                                        <option value="6">Community Development</option>#}
{#                                        <option value="5">Engineering</option>#}
{#                                        <option value="4">Nursing</option>#}
{#                                        <option value="3">IT</option>#}
{#                                        <option value="2">Management</option>#}
{#                                        <option value="1">Humanitiesaa</option>#}
                                </select>
                            </div>
                            <div class="course-selection-r col-lg-4 d-flex align-items-center justify-content-end">
                                <select name="country" id="country" class="form-select mb-3">
                                    <option value="">Sort by Country</option>
                                                                                                                        <option value="6">Netherlands</option>
                                                                                    <option value="5">New Zealand</option>
                                                                                    <option value="4">United Kingdom</option>
                                                                                    <option value="3">Australia</option>
                                                                                    <option value="2">Canada</option>
                                                                                    <option value="1">USA</option>

                                </select>
                            </div>
                        </div>

<div class="course-list-group ">
    <!-- course list item -->
    <div class="appendCourse">

    <div class="course-list-item">
    <div class="course-list-item-wrapper">
        <div class="course-item-top row align-items-lg-center">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="u-img bg-white">
                    <img src="{% static 'storage/upload/23/02/1677153333it.png' %}"
                        alt="Study Master of Information Technology at Swinburne University (ECA)">
                </div>
                <div class="u-name">
                    <h5 class="p-text-sm text-black fw-6"> Study Master of Information Technology at Swinburne University (ECA)</h5>
                    <p class="p-text-sm mb-0">Swinburne University (ECA)</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div
                    class="course-item-btns mt-3 d-flex align-items-center justify-content-lg-end">
                    <a href="#" class="btn-flame-sm btn">
                        <span class="btn-text">Inquiry Now</span>
                    </a>
                    <a href="course/study-master-of-information-technology-at-swinburne-university.html" class="btn-outline-primary-sm btn bg-white ms-2">
                        <span class="btn-text">Progam details</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="course-item-bottom row">
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Duration of course</h6>



                    <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">3 years full-time</li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>


                    <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">Deferrable</li>
                        <li class="p-text-xs fw-3 text-black">
                            Yes</li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Academic Requirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5"></li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">IELTS Reqirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">6.5 Each Band 6.5</li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Intake</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">Start dates
                        </li>
                    </ul>
                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">
                        </li>
                    </ul>
                                                        </div>
            </div>
        </div>
    </div>
</div>

{% for college in colleges %}
<div class="course-list-item">
    <div class="course-list-item-wrapper">
        <div class="course-item-top row align-items-lg-center">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="u-img bg-white">
                    <img src="{{ college.logo.url }}"
                        alt="{{ college.name }}">
                </div>
                <div class="u-name">
                    <h5 class="p-text-sm text-black fw-6">{{ college.name }}</h5>
                    <p class="p-text-sm mb-0">{{ college.address }}</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div
                    class="course-item-btns mt-3 d-flex align-items-center justify-content-lg-end">
                    <a href="#" class="btn-flame-sm btn">
                        <span class="btn-text">Inquire Now</span>
                    </a>
                    <a href="course/study-bachelor-of-biosecurity-science-at-boxhill-institute.html" class="btn-outline-primary-sm btn bg-white ms-2">
                        <span class="btn-text">College details</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="course-item-bottom row">
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Courses Offered</h6>



                    <ul class="mb-2">
                        {% for course in college.course_offered.all %}
                            <li class="p-text-xs text-black fw-5">{{ course.short_name }}</li>
                        {% endfor %}
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Academic Requirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5"></li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">IELTS Reqirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">6.5 Each Band 5.5</li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Intake</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">February
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="course-list-item">
    <div class="course-list-item-wrapper">
        <div class="course-item-top row align-items-lg-center">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="u-img bg-white">
                    <img src="{% static 'storage/upload/23/02/1677153989123.png' %}"
                        alt="Study Bachelor of Music at Excelsia College">
                </div>
                <div class="u-name">
                    <h5 class="p-text-sm text-black fw-6"> Study Bachelor of Music at Excelsia College</h5>
                    <p class="p-text-sm mb-0">Excelsia College</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div
                    class="course-item-btns mt-3 d-flex align-items-center justify-content-lg-end">
                    <a href="#" class="btn-flame-sm btn">
                        <span class="btn-text">Inquiry Now</span>
                    </a>
                    <a href="course/study-bachelor-of-music-at-excelsia-college.html" class="btn-outline-primary-sm btn bg-white ms-2">
                        <span class="btn-text">Progam details</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="course-item-bottom row">
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Duration of course</h6>



                    <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">3 years</li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Academic Requirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5"></li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">IELTS Reqirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">6.0 Each Band 5.5</li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Intake</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">January July
                        </li>
                    </ul>
                                                        </div>
            </div>
        </div>
    </div>
</div>

<div class="course-list-item">
    <div class="course-list-item-wrapper">
        <div class="course-item-top row align-items-lg-center">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="u-img bg-white">
                    <img src="{% static 'storage/upload/23/02/167715406111.png' %}"
                        alt="Study Bachelor of Biomedical Science at Federation University">
                </div>
                <div class="u-name">
                    <h5 class="p-text-sm text-black fw-6"> Study Bachelor of Biomedical Science at Federation University</h5>
                    <p class="p-text-sm mb-0">Federation University</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div
                    class="course-item-btns mt-3 d-flex align-items-center justify-content-lg-end">
                    <a href="#" class="btn-flame-sm btn">
                        <span class="btn-text">Inquiry Now</span>
                    </a>
                    <a href="course/study-bachelor-of-biomedical-science-at-federation-university.html" class="btn-outline-primary-sm btn bg-white ms-2">
                        <span class="btn-text">Progam details</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="course-item-bottom row">
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Duration of course</h6>



                    <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">3 years</li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Academic Requirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5"></li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">IELTS Reqirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">6.0 Each Band 6</li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Intake</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">Semester 1
                        </li>
                    </ul>
                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">Semester 2
                        </li>
                    </ul>
                                                        </div>
            </div>
        </div>
    </div>
</div>

<div class="course-list-item">
    <div class="course-list-item-wrapper">
        <div class="course-item-top row align-items-lg-center">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="u-img bg-white">
                    <img src="{% static 'storage/upload/23/02/167715428533.png' %}"
                        alt="Study Bachelor of Information Technology at Federation University">
                </div>
                <div class="u-name">
                    <h5 class="p-text-sm text-black fw-6"> Study Bachelor of Information Technology at Federation University</h5>
                    <p class="p-text-sm mb-0">Federation University</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div
                    class="course-item-btns mt-3 d-flex align-items-center justify-content-lg-end">
                    <a href="#" class="btn-flame-sm btn">
                        <span class="btn-text">Inquiry Now</span>
                    </a>
                    <a href="course/study-bachelor-of-information-technology-at-federation-university.html" class="btn-outline-primary-sm btn bg-white ms-2">
                        <span class="btn-text">Progam details</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="course-item-bottom row">
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Duration of course</h6>



                    <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">3 years</li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Academic Requirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5"></li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">IELTS Reqirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">6.0 Each Band 5.5</li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Intake</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">March  I   July   I    November
                        </li>
                    </ul>
                                                        </div>
            </div>
        </div>
    </div>
</div>

<div class="course-list-item">
    <div class="course-list-item-wrapper">
        <div class="course-item-top row align-items-lg-center">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="u-img bg-white">
                    <img src="{% static 'storage/upload/23/02/167715436822.png' %}"
                        alt="Study Master of Project Management at Curtin University">
                </div>
                <div class="u-name">
                    <h5 class="p-text-sm text-black fw-6"> Study Master of Project Management at Curtin University</h5>
                    <p class="p-text-sm mb-0">Curtin University</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div
                    class="course-item-btns mt-3 d-flex align-items-center justify-content-lg-end">
                    <a href="#" class="btn-flame-sm btn">
                        <span class="btn-text">Inquiry Now</span>
                    </a>
                    <a href="course/study-master-of-project-management-at-curtin-university.html" class="btn-outline-primary-sm btn bg-white ms-2">
                        <span class="btn-text">Progam details</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="course-item-bottom row">
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Duration of course</h6>



                    <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5"></li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Academic Requirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5"></li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">IELTS Reqirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">6.5 Each Band 6</li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Intake</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">February
                        </li>
                    </ul>
                                                        </div>
            </div>
        </div>
    </div>
</div>

<div class="course-list-item">
    <div class="course-list-item-wrapper">
        <div class="course-item-top row align-items-lg-center">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="u-img bg-white">
                    <img src="{% static 'storage/upload/23/02/1677154661123%20copy.png' %}"
                        alt="Study Bachelor of Communication at Western Sydney University Sydney City Campus">
                </div>
                <div class="u-name">
                    <h5 class="p-text-sm text-black fw-6"> Study Bachelor of Communication at Western Sydney University Sydney City Campus</h5>
                    <p class="p-text-sm mb-0">Western Sydney University</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div
                    class="course-item-btns mt-3 d-flex align-items-center justify-content-lg-end">
                    <a href="#" class="btn-flame-sm btn">
                        <span class="btn-text">Inquiry Now</span>
                    </a>
                    <a href="course/study-bachelor-of-communication-at-western-sydney-university-sydney-city-campus.html" class="btn-outline-primary-sm btn bg-white ms-2">
                        <span class="btn-text">Progam details</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="course-item-bottom row">
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Duration of course</h6>



                    <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">3 years</li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Academic Requirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5"></li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">IELTS Reqirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">6.5 Each Band 6</li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Intake</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">March July
                        </li>
                    </ul>
                                                        </div>
            </div>
        </div>
    </div>
</div>

<div class="course-list-item">
    <div class="course-list-item-wrapper">
        <div class="course-item-top row align-items-lg-center">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="u-img bg-white">
                    <img src="{% static 'storage/upload/23/02/1677154899qq.png' %}"
                        alt="Study Bachelor of Business at Victoria University">
                </div>
                <div class="u-name">
                    <h5 class="p-text-sm text-black fw-6"> Study Bachelor of Business at Victoria University</h5>
                    <p class="p-text-sm mb-0">Victoria University</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div
                    class="course-item-btns mt-3 d-flex align-items-center justify-content-lg-end">
                    <a href="#" class="btn-flame-sm btn">
                        <span class="btn-text">Inquiry Now</span>
                    </a>
                    <a href="course/study-bachelor-of-business-at-victoria-university.html" class="btn-outline-primary-sm btn bg-white ms-2">
                        <span class="btn-text">Progam details</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="course-item-bottom row">
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Duration of course</h6>



                    <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">3 years</li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Academic Requirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5"></li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">IELTS Reqirement</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">6.0 Each Band 6</li>
                        <li class="p-text-xs fw-3 text-black">
                            </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2 px-1">
                <div class="course-itm-bottom-block h-100">
                    <h6 class="p-text-sm mb-3">Intake</h6>

                                        <ul class="mb-2">
                        <li class="p-text-xs text-black fw-5">March July November
                        </li>
                    </ul>
                                                        </div>
            </div>
        </div>
    </div>
</div>

                            </div>

                            <div class="loadMoreDiv">

                            </div>

                            <div class="d-flex align-items-center   justify-content-center mt-5 flex-column">
                                <a href="#" id="loadmore" data-page="2"
                                    class="btn-outline-primary-sm btn d-flex align-items-center justify-content-center bg-white">
                                    <span class="text-primary">Load More</span>
                                </a>
                                <a href="#pageTop" class="return-top-btn p-text-sm"><span class="me-2 fw-6">Return to the of the
                                        page</span><i class="fas fa-chevron-up"></i></a>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </section>

        <section class = "sc-tests bg-white sc-py-6 px-3 d-lg-flex align-items-lg-center">
    <div class = "container">
      <div class = "sc-tests-cnt">
        <div class = "sc-block row justify-content-lg-between">
          <div class = "sc-block-l position-relative col-lg-6 max-w-wrapper">
            <div class = "sc-title text-center text-lg-start">
              <h5 class = "sc-title-sub">Testimonials</h5>
              <h2 class = "sc-title-main max-w-wrapper">What Our Students Are Saying</h2>
            </div>
            <p>We have paved the education journey for many students so they can enjoy their student life to the fullest across the globe.</p>
<p>Find out can enjoy their student life to the fullest across the globe, what they have got to share with us.</p>
            <img src = "{% static 'front/assets/images/index-pg/testimonial-icon.png' %}" class = "text-icon">
          </div>

          <div class = "sc-block-r col-lg-6">
            <div class = "tests-slider">

              <div class = "tests-slider-item">
                <div class = "tests-slider-item-head">
                  <div class = "icon-avatar img-fit-cover">
                    <img alt="Sunita Gurung" src = "{% static 'storage/upload/23/01/1673000279Sunita-150x150.png' %}" alt = "Sunita Gurung">
                  </div>
                  <div class = "info">
                    <p class = "mb-0 fw-6 p-text text-dark">Sunita Gurung</p>
                    <p class = "mb-0 text-primary p-text">Current University &amp; Course: Monash University – Bachelor of Nursing Previous Studies: Singapore and Modern Indian School</p>
                  </div>
                </div>
                <div class = "tests-slider-item-body">
                  <p class = "mb-0 p-text">&ldquo;One of the best consultancy that I&rsquo;ve come across in Kathmandu. Not to deny the fact that Nepal Education Consultancy provides the best career counselling services. The whole team of NEC was supportive and responsive when it came to clearing my doubts regarding the university, I should choose to pursue a degree that would suit my interest. All credits go to the NEC team for helping me choose the right University in the right location.&rdquo;</p>
                </div>
                <img src = "{% static 'front/assets/images/icons/quote-icon.png' %}" class = "quote-icon">
              </div>



              <div class = "tests-slider-item">
                <div class = "tests-slider-item-head">
                  <div class = "icon-avatar img-fit-cover">
                    <img alt="Nishant Thapa" src = "{% static 'storage/upload/23/01/1673000191Nishant-Thapa-150x150.jpg' %}" alt = "Nishant Thapa">
                  </div>
                  <div class = "info">
                    <p class = "mb-0 fw-6 p-text text-dark">Nishant Thapa</p>
                    <p class = "mb-0 text-primary p-text">Current University &amp; Course: Macquarie University – Master of Information Technology</p>
                  </div>
                </div>
                <div class = "tests-slider-item-body">
                  <p class = "mb-0 p-text">&ldquo;The NEC team was very helpful in understanding what I wanted and found me the best path to goon. They provided me with the best possible study options with the consideration of my interest. I am grateful for NEC team for helping me with my all visa application. I appreciate the invaluable support I received from NEC team.&rdquo;</p>
                </div>
                <img src = "{% static 'front/assets/images/icons/quote-icon.png' %}" class = "quote-icon">
              </div>



              <div class = "tests-slider-item">
                <div class = "tests-slider-item-head">
                  <div class = "icon-avatar img-fit-cover">
                    <img alt="Sneha Acharya" src = "{% static 'storage/upload/23/01/1673000070Sneha-Acharya-150x150.jpg' %}" alt = "Sneha Acharya">
                  </div>
                  <div class = "info">
                    <p class = "mb-0 fw-6 p-text text-dark">Sneha Acharya</p>
                    <p class = "mb-0 text-primary p-text">Current University &amp; Course: Curtin University – Master of Nursing Practice</p>
                  </div>
                </div>
                <div class = "tests-slider-item-body">
                  <p class = "mb-0 p-text">&ldquo;I had a great experience lodging my application from NEC. They provided me with the best guidance and also connected me with Curtin University which has one of the highest ranking in Australia. I am very thankful towards the Nepal Education team as the counselors are very knowledgeable and also provided me and my family with the right financial and visa guidance as well.&nbsp; Right now, I am doing my Master in Nursing in Curtin university which is a Registered Nurse leading course.&rdquo;</p>
                </div>
                <img src = "{% static 'front/assets/images/icons/quote-icon.png' %}" class = "quote-icon">
              </div>



              <div class = "tests-slider-item">
                <div class = "tests-slider-item-head">
                  <div class = "icon-avatar img-fit-cover">
                    <img alt="Nikista Hamal" src = "{% static 'storage/upload/23/01/1672999968Nikista-150x150.jpg' %}" alt = "Nikista Hamal">
                  </div>
                  <div class = "info">
                    <p class = "mb-0 fw-6 p-text text-dark">Nikista Hamal</p>
                    <p class = "mb-0 text-primary p-text">Current University &amp; Course: Federation University – Bachelor of Information Technology Previous Studies: National School of Science</p>
                  </div>
                </div>
                <div class = "tests-slider-item-body">
                  <p class = "mb-0 p-text">&ldquo;It was my good luck to get a consultancy which provides me friendly with a good learning environment which assists me to find out one of the best universities and a city to live in Australia. I am always thankful to the consultancy to help to get one step forward to my career(dream).&rdquo;</p>
                </div>
                <img src = "{% static 'front/assets/images/icons/quote-icon.png' %}" class = "quote-icon">
              </div>



              <div class = "tests-slider-item">
                <div class = "tests-slider-item-head">
                  <div class = "icon-avatar img-fit-cover">
                    <img alt="Shraddha Gautam" src = "{% static 'storage/upload/23/01/1672999618Shraddha-gautam-150x150.jpg' %}" alt = "Shraddha Gautam">
                  </div>
                  <div class = "info">
                    <p class = "mb-0 fw-6 p-text text-dark">Shraddha Gautam</p>
                    <p class = "mb-0 text-primary p-text">Current University &amp; Course: Deakin University – Bachelor of Communication (Public Relations) Previous Studies: Rato Bangla School – A Levels</p>
                  </div>
                </div>
                <div class = "tests-slider-item-body">
                  <p class = "mb-0 p-text">&ldquo;My experience with NEC was very positive. Everyone there was very helpful andfriendly. I had no idea where to even begin but they helped me throughout the whole process with looking for universities, settling on which course to take,applying, filling out all the forms and so on.&rdquo;</p>
                </div>
                <img src = "{% static 'front/assets/images/icons/quote-icon.png' %}" class = "quote-icon">
              </div>



              <div class = "tests-slider-item">
                <div class = "tests-slider-item-head">
                  <div class = "icon-avatar img-fit-cover">
                    <img alt="Kanchan Kharel" src = "{% static 'storage/upload/23/01/1672999472Kanchan-150x150.jpg' %}" alt = "Kanchan Kharel">
                  </div>
                  <div class = "info">
                    <p class = "mb-0 fw-6 p-text text-dark">Kanchan Kharel</p>
                    <p class = "mb-0 text-primary p-text">Current University &amp; Course: Monash University – Master of Social Work Previous Studies: AVM, St Xaviers College</p>
                  </div>
                </div>
                <div class = "tests-slider-item-body">
                  <p class = "mb-0 p-text">&ldquo;NEC has an exceptional support system for me in order to help me identify the right university and program that meets my academic ambition and that could lead me to a professional career that I always desired for. I have been very fortunate to have NEC as my partner to make my decision and facilitate the entire process to study in Australia.&nbsp; One best thing about NEC is that it is led by a team that graduated from the best Australian universities who holds an ability to take you through the Australian context and provide your mentorship and factual guidance.&rdquo;</p>
                </div>
                <img src = "{% static 'front/assets/images/icons/quote-icon.png' %}" class = "quote-icon">
              </div>



              <div class = "tests-slider-item">
                <div class = "tests-slider-item-head">
                  <div class = "icon-avatar img-fit-cover">
                    <img alt="Anish Shrestha" src = "{% static 'storage/upload/23/01/1672999272Anish-150x150.png' %}" alt = "Anish Shrestha">
                  </div>
                  <div class = "info">
                    <p class = "mb-0 fw-6 p-text text-dark">Anish Shrestha</p>
                    <p class = "mb-0 text-primary p-text">Current University &amp; Course: Victoria University – Bachelor of Information Technology Previous Studies: National Creative Co-Educational School</p>
                  </div>
                </div>
                <div class = "tests-slider-item-body">
                  <p class = "mb-0 p-text">&ldquo;This consultancy is absolutely amazing. When I visited this consultancy it gave me a vibe of a family rather than just a consultancy. the staffs are way more dedicated and hardworking than other consultancy I have seen till now. If it weren&rsquo;t for them I wouldn&rsquo;t be where I am now. The whole team&rsquo;s work is brilliant and fluent and they care for their students.&rdquo;</p>
                </div>
                <img src = "{% static 'front/assets/images/icons/quote-icon.png' %}" class = "quote-icon">
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

        <section class="bg-light-gray">
            <img src="{% static 'front/assets/images/components/line.png' %}" alt="">
        </section>

        <section id="inquirySection" class = "sc-contact curved-bottom bg-light-gray sc-py-6 position-relative">
    <div class = "container">
      <div class = "sc-contact-cnt px-3">
        <div class = "sc-block row align-items-end">
          <div class = "sc-block-l col-xl-5">
            <div class = "max-w-wrapper">
              <img src = "{% static 'front/assets/images/index-pg/get-in-touch.png' %}" alt = "">
            </div>
          </div>

          <div class = "sc-block-r mt-5 mt-xl-0 col-xl-7">
            <div class = "sc-title text-center text-xl-start">
              <h5 class = "sc-title-sub">Get in touch</h5>
              <h2 class = "sc-title-main max-w-wrapper">Please drop your Inquiry here.

            </h2>
            </div>
            <p class = "p-text mb-4 text-center text-xl-start max-w-wrapper">To start consultation and admission, kindly fill up the form , one of our advisers will contact you via email in less than 24 hours</p>

            <div class = "contact-form">
              <form autocomplete="off" action="https://www.nepalec.edu.np/inquiry-store" id="contact-form" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="_token" value="9MhGcmnsE6ZdgJIHTkxpOzXZ3nHrlXnqTqPT3bCP">                <div class = "form-element mb-3 mb-sm-4">
                  <input type="text" required name="name" value="" class = "form-control" placeholder="Full Name" >
                                  </div>

                <div class = "form-element row mb-3 mb-sm-4">
                  <div class = "col-md-6 mb-3 mb-sm-4 mb-md-0">
                    <input type = "text" name="contact" value="" class = "form-control" placeholder="Mobile Number" >
                                      </div>
                  <div class = "col-md-6">
                    <input type = "email" required name="email" value="" class = "form-control" placeholder="Email Id" >
                                      </div>
                </div>



                <div class = "form-element row mb-3 mb-sm-4">
                  <div class = "col-md-6 mb-3 mb-sm-4 mb-md-0">
                    <select required name = "education_level" class = "form-select">
                      <option selected>Education level</option>
                      <option value="+2">+2</option>
                      <option value="bachelor">Bachelor</option>
                      <option value="master">Master</option>
                    </select>
                                      </div>

                  <div class = "col-md-6">
                    <select required name = "course" class = "form-select">
                      <option selected>Courses</option>

                      <option value="7">Hotel Management in Australia</option>

                      <option value="8">Master’s of Business Administration (MBA) in Australia</option>

                      <option value="9">Data Science in Australia</option>

                      <option value="10">Nursing in Australia</option>

                      <option value="11">Master’s of Professional Engineering in Australia</option>

                      <option value="12">Study Bachelor of Hospitality Management at Boxhill Institute</option>

                      <option value="13">Study Master of Community Development at Murdoch University</option>

                      <option value="14">Study Bachelor of Game Development at SAE Institute</option>

                      <option value="15">Study Bachelor of Business at Victoria University</option>

                      <option value="16">Study Bachelor of Communication at Western Sydney University Sydney City Campus</option>

                      <option value="17">Study Master of Project Management at Curtin University</option>

                      <option value="18">Study Bachelor of Information Technology at Federation University</option>

                      <option value="19">Study Bachelor of Biomedical Science at Federation University</option>

                      <option value="20">Study Bachelor of Music at Excelsia College</option>

                      <option value="21">Study Bachelor of Biosecurity Science at Boxhill Institute</option>

                      <option value="22">Study Master of Information Technology at Swinburne University (ECA)</option>

                    </select>
                                      </div>

                  <div class = "col-md-6 mt-4">
                   <input type="text" required name="percentage" class="form-control  " value="" placeholder="Percentage">
                  </div>

                  <div class = "col-md-6 mt-4">
                    <input type="number" name="age" value="" class="form-control  " placeholder="Age">
                                       </div>

                </div>

                <div class = "form-element mb-3 mb-sm-4">
                  <label for = "" class = "form-label mb-3 mb-sm-4">Your preferred study destination</label>
                  <div class = "checkbox-list d-flex flex-wrap align-items-center">


                    <div class = "checkbox-item">
                      <input type = "checkbox" class = "checkbox-btn " value="1" name = "destinations[]">
                      <div class = "check-btn-cnt d-flex align-items-center">
                        <div class = "check-btn-img icon-img-sm">
                          <img src = "{% static 'storage/upload/23/03/1679895247USA%20flag.jpg' %}" alt = "">
                        </div>
                        <span class = "ms-2 p-text-sm text-primary opacity-100">Study in USA</span>
                      </div>
                    </div>


                    <div class = "checkbox-item">
                      <input type = "checkbox" class = "checkbox-btn " value="2" name = "destinations[]">
                      <div class = "check-btn-cnt d-flex align-items-center">
                        <div class = "check-btn-img icon-img-sm">
                          <img src = "{% static 'storage/upload/22/12/1670232331flag-1.png' %}" alt = "">
                        </div>
                        <span class = "ms-2 p-text-sm text-primary opacity-100">Study in Canada</span>
                      </div>
                    </div>


                    <div class = "checkbox-item">
                      <input type = "checkbox" class = "checkbox-btn " value="3" name = "destinations[]">
                      <div class = "check-btn-cnt d-flex align-items-center">
                        <div class = "check-btn-img icon-img-sm">
                          <img src = "{% static 'storage/upload/23/03/1679895298Australia%20flag.jpg' %}" alt = "">
                        </div>
                        <span class = "ms-2 p-text-sm text-primary opacity-100">Study in Australia</span>
                      </div>
                    </div>


                    <div class = "checkbox-item">
                      <input type = "checkbox" class = "checkbox-btn " value="10" name = "destinations[]">
                      <div class = "check-btn-cnt d-flex align-items-center">
                        <div class = "check-btn-img icon-img-sm">
                          <img src = "{% static 'storage/upload/23/03/1679895200UK%20flag.jpg' %}" alt = "">
                        </div>
                        <span class = "ms-2 p-text-sm text-primary opacity-100">Study in United Kingdom</span>
                      </div>
                    </div>


                    <div class = "checkbox-item">
                      <input type = "checkbox" class = "checkbox-btn " value="11" name = "destinations[]">
                      <div class = "check-btn-cnt d-flex align-items-center">
                        <div class = "check-btn-img icon-img-sm">
                          <img src = "{% static 'storage/upload/23/01/1674035000istockphoto-657672808-612x612.jpg' %}" alt = "">
                        </div>
                        <span class = "ms-2 p-text-sm text-primary opacity-100">Study in New Zealand</span>
                      </div>
                    </div>


                    <div class = "checkbox-item">
                      <input type = "checkbox" class = "checkbox-btn " value="12" name = "destinations[]">
                      <div class = "check-btn-cnt d-flex align-items-center">
                        <div class = "check-btn-img icon-img-sm">
                          <img src = "{% static 'storage/upload/23/01/1674036516netherlad.png' %}" alt = "">
                        </div>
                        <span class = "ms-2 p-text-sm text-primary opacity-100">Study in Netherlands</span>
                      </div>
                    </div>


                  </div>
                </div>

                <div class = "form-element row">
                  <div class = "col-md-6">
                    <select name = "study_plan" class = "form-select">
                      <option selected>When do you plan to study?</option>
                      <option>January</option>
                      <option>February</option>
                      <option>March</option>
                      <option>April</option>
                      <option>May</option>
                      <option>June</option>
                      <option>July</option>
                      <option>August</option>
                      <option>September</option>
                      <option>October</option>
                      <option>November</option>
                      <option>December</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 mt-4">
                    <textarea name="message" style="height: 180px !important;" placeholder="Type your message here..." class="form-control" id="" cols="30" rows="15"></textarea>
                </div>

                <button type = "submit" class = "btn btn-flame">
                  <span class = "btn-text">Submit</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class = "curved-shape-1">
      <img src = "{% static 'front/assets/images/components/green-curve-line.png' %}" alt = "">
    </div>
    <div class = "curved-shape-2">
      <img src = "{% static 'front/assets/images/components/white-curve-line.png' %}" alt = "">
    </div>
  </section>

        <div class="curved-shape-1">
            <img src="{% static 'front/assets/images/components/green-curve-line.png' %}" alt="">
        </div>
        <div class="curved-shape-2">
            <img src="{% static 'front/assets/images/components/white-curve-line.png' %}" alt="">
        </div>
        </section>
    </main>

    <script>
    $(document).ready(function() {
  // Event listener for program type selection change
  $('#degreeType').change(function() {
    var selectedType = $(this).val(); // Get the selec  ted program type
    alert("Hello");
    // Make AJAX request
    $.ajax({
      url: 'your-server-side-script.php', // Replace with your server-side script URL
      type: 'GET',
      data: { programType: selectedType },
      success: function(response) {
        // Update the results container with the filtered results
        $('#resultsContainer').html(response);
      },
      error: function(xhr, status, error) {
        // Handle any errors that occur during the AJAX request
        console.log(error);
      }
    });
  });
});
    </script>

{#    <script>#}
{#        $(document).on('change', '#programtype, #subject, #country', function(e){#}
{#            e.preventDefault();#}
{#            var programtype = $('#programtype').val();#}
{#            var subject = $('#subject').val();#}
{#            var country = $('#country').val();#}
{##}
{#            var currentpage = parseInt($('#loadmore').attr('data-page',2));#}
{##}
{#            var endpoint = "courses.html";#}
{##}
{##}
{#            $.ajax({#}
{#            type: "GET",#}
{#            data:{#}
{#                programtype : programtype,#}
{#                subject : subject,#}
{#                country : country#}
{#            },#}
{#            url: endpoint + '?page='+currentpage,#}
{#            beforeSend: function(data) {#}
{#                loader();#}
{#            },#}
{#            success: function(data) {#}
{##}
{#                 $('.appendCourse').html(data.data.view)#}
{#                 $('.loadMoreDiv').html('');#}
{##}
{#            },#}
{#            error: function(err) {#}
{#                if (err.status == 422) {#}
{#                    $.each(err.responseJSON.errors, function(i, error) {#}
{#                        var el = $(document).find('[name="' + i + '"]');#}
{#                        el.after($('<span style="color: red;">' + error[0] + '</span>')#}
{#                            .fadeOut(4000));#}
{#                    });#}
{#                }#}
{##}
{#                currentevent.attr('disabled', false);#}
{#            },#}
{#            complete: function(data) {#}
{#                setTimeout(function() {#}
{#                    $.unblockUI();#}
{##}
{#                }, 30000);#}
{##}
{#            }#}
{#        });#}
{#        });#}
{#    </script>#}

    <script>
        $(document).on('click', '#loadmore', function(e){
            e.preventDefault();
            var currentpage = parseInt($(this).attr('data-page'));
            var endpoint = "courses.html";
            // console.log(currentpage);
            var programtype = $('#programtype').val();
            var subject = $('#subject').val();
            var country = $('#country').val();
            $.ajax({
                type: "GET",
                url: endpoint + '?page='+currentpage,
                data: {
                    'page': currentpage,
                    programtype : programtype,
                    subject : subject,
                    country : country

                },
                beforeSend: function(data) {

                },
                success: function(data) {
                    console.log(data.data.nextpage);
                    $('#loadmore').attr('data-page',data.data.nextpage);

                    $('.loadMoreDiv').append(data.data.view);

                },
                error: function(err) {
                    if (err.status == 422) {
                        $.each(err.responseJSON.errors, function(i, error) {
                            var el = $(document).find('[name="' + i + '"]');
                            el.after($('<span style="color: red;">' + error[0] + '</span>')
                                .fadeOut(15000));
                        });
                    }
                },
                complete: function() {
                    $.unblockUI();
                }
            });

        });
    </script>
{% endblock %}

