{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Colleges
{% endblock %}

{% block content %}

    <main class="pg-course bg-secondary">
        <section class="sc-banner sc-py-6 px-3 d-flex align-items-center">
            <div class="container" id="pageTop">
                <div class="sc-banner-cnt">
                    <div class="sc-block row align-items-lg-center">
                        <div class="sc-block-l text-center col-lg-6 text-lg-start">
                            <div class="max-w-wrapper">
                                <h1 class="title-lg">Choose a course to find your future update</h1>
                                <p class="p-text mb-0">As India’s leading education consultancy agency, we help students get
                                    into top institutions in India & across the globe.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-img">
                <img loading="lazy" src="{% static 'front/assets/images/course-pg/course-banner.png' %}" alt="">
            </div>
        </section>

        <section class="sc-course sc-py-6 px-3 bg-ghost-white">
            <div class="container">
                <div class="sc-course-cnt">
                    <div class="sc-block">
                        <div class="course-selection row">
                            <div class="course-selection-l col-lg-8 d-lg-flex align-items-center">
                                <p class="no-wrap me-3">Filter By</p>
                                <select name="programType" id="degreeType" class="form-select mb-3 me-lg-2 me-xl-3">
                                    <option value="" disabled selected>Choose a Program type</option>
                                    <option value="2">Master Program</option>
                                    <option value="1">Bachelor Program</option>

                                </select>

                                <select name="subject" id="subject" class="form-select mb-3">
                                    <option selected disabled value="">Choose a Course</option>
                                    {% for course in courses %}
                                        <option value="{{ course.name }}">{{ course.name }}</option>
                                    {% endfor %}
{#                                        <option value="9">Biosecurity Science</option>#}
{#                                        <option value="8">Music</option>#}
{#                                        <option value="7">Biomedical Science</option>#}
{#                                        <option value="6">Community Development</option>#}
{#                                        <option value="5">Engineering</option>#}
{#                                        <option value="4">Nursing</option>#}
{#                                        <option value="3">IT</option>#}
{#                                        <option value="2">Management</option>#}
{#                                        <option value="1">Humanitiesaa</option>#}
                                </select>
                            </div>
                            <div class="course-selection-r col-lg-4 d-flex align-items-center justify-content-end">
                                <select name="country" id="country" class="form-select mb-3">
                                    <option value="">Sort by Country</option>
                                                                                                                        <option value="6">Netherlands</option>
                                                                                    <option value="5">New Zealand</option>
                                                                                    <option value="4">United Kingdom</option>
                                                                                    <option value="3">Australia</option>
                                                                                    <option value="2">Canada</option>
                                                                                    <option value="1">USA</option>

                                </select>
                            </div>
                        </div>

<div class="course-list-group ">
    <!-- course list item -->
    <div class="appendCourse">

        {% for college in colleges %}
            <div class="course-list-item">
            <div class="course-list-item-wrapper">
                <div class="course-item-top row align-items-lg-center">
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="u-img bg-white">
                            <img loading="lazy" src="{{ college.logo.url }}"
                                alt="{{ college.name }}">
                        </div>
                        <div class="u-name">
                            <h5 class="p-text-sm text-black fw-6">{{ college.name }}</h5>
                            <p class="p-text-sm mb-0">{{ college.address }}</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div
                            class="course-item-btns mt-3 d-flex align-items-center justify-content-lg-end">
                            <a href="#" class="btn-flame-sm btn">
                                <span class="btn-text">Inquire Now</span>
                            </a>
                            <a href="{% url 'college_detail' college.id %}" class="btn-outline-primary-sm btn bg-white ms-2">
                                <span class="btn-text">College details</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="course-item-bottom row">
                    <div class="col-sm-6 col-lg-3 mb-2 px-1">
                        <div class="course-itm-bottom-block h-100">
                            <h6 class="p-text-sm mb-3">Courses Offered</h6>

                            <ul class="mb-2">
                                    <li class="p-text-xs text-black fw-5">
                                        {% for course in college.course_offered.all %}
                                            {{ course.short_name }} -
                                        {% endfor %}
                                    </li>
                                <li class="p-text-xs fw-3 text-black">
                                    </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-2 px-1">
                        <div class="course-itm-bottom-block h-100">
                            <h6 class="p-text-sm mb-3">{{ college.alias }}</h6>

                                                <ul class="mb-2">
                                <li class="p-text-xs text-black fw-5"></li>
                                <li class="p-text-xs fw-3 text-black">
                                    </li>
                            </ul>

                        </div>
                    </div>
{#                    <div class="col-sm-6 col-lg-3 mb-2 px-1">#}
{#                        <div class="course-itm-bottom-block h-100">#}
{#                            <h6 class="p-text-sm mb-3">IELTS Reqirement</h6>#}
{##}
{#                                                <ul class="mb-2">#}
{#                                <li class="p-text-xs text-black fw-5">6.5 Each Band 5.5</li>#}
{#                                <li class="p-text-xs fw-3 text-black">#}
{#                                    </li>#}
{#                            </ul>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-sm-6 col-lg-3 mb-2 px-1">#}
{#                        <div class="course-itm-bottom-block h-100">#}
{#                            <h6 class="p-text-sm mb-3">Intake</h6>#}
{##}
{#                                                <ul class="mb-2">#}
{#                                <li class="p-text-xs text-black fw-5">February#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
        {% endfor %}


    </div>

        <div class="loadMoreDiv">

        </div>

        <div class="d-flex align-items-center   justify-content-center mt-5 flex-column">
            <a href="#" id="loadmore" data-page="2"
                class="btn-outline-primary-sm btn d-flex align-items-center justify-content-center bg-white">
                <span class="text-primary">Load More</span>
            </a>
            <a href="#pageTop" class="return-top-btn p-text-sm"><span class="me-2 fw-6">Return to the of the
                    page</span><i class="fas fa-chevron-up"></i></a>
        </div>
    </div>
                    </div>
                </div>
            </div>
        </section>

    {% include 'base/review-section.html' %}

        <section class="bg-light-gray">
            <img loading="lazy" src="{% static 'front/assets/images/components/line.png' %}" alt="">
        </section>
    {% include 'base/inquiry-section.html' %}
        <section>
        <div class="curved-shape-1">
            <img loading="lazy" src="{% static 'front/assets/images/components/green-curve-line.png' %}" alt="">
        </div>
        <div class="curved-shape-2">
            <img loading="lazy" src="{% static 'front/assets/images/components/white-curve-line.png' %}" alt="">
        </div>

        </section>
    </main>

    <script>
    $(document).ready(function() {
  // Event listener for program type selection change
  $('#degreeType').change(function() {
    var selectedType = $(this).val(); // Get the selec  ted program type
    alert("Hello");
    // Make AJAX request
    $.ajax({
      url: 'your-server-side-script.php', // Replace with your server-side script URL
      type: 'GET',
      data: { programType: selectedType },
      success: function(response) {
        // Update the results container with the filtered results
        $('#resultsContainer').html(response);
      },
      error: function(xhr, status, error) {
        // Handle any errors that occur during the AJAX request
        console.log(error);
      }
    });
  });
});
    </script>

{#    <script>#}
{#        $(document).on('change', '#programtype, #subject, #country', function(e){#}
{#            e.preventDefault();#}
{#            var programtype = $('#programtype').val();#}
{#            var subject = $('#subject').val();#}
{#            var country = $('#country').val();#}
{##}
{#            var currentpage = parseInt($('#loadmore').attr('data-page',2));#}
{##}
{#            var endpoint = "courses.html";#}
{##}
{##}
{#            $.ajax({#}
{#            type: "GET",#}
{#            data:{#}
{#                programtype : programtype,#}
{#                subject : subject,#}
{#                country : country#}
{#            },#}
{#            url: endpoint + '?page='+currentpage,#}
{#            beforeSend: function(data) {#}
{#                loader();#}
{#            },#}
{#            success: function(data) {#}
{##}
{#                 $('.appendCourse').html(data.data.view)#}
{#                 $('.loadMoreDiv').html('');#}
{##}
{#            },#}
{#            error: function(err) {#}
{#                if (err.status == 422) {#}
{#                    $.each(err.responseJSON.errors, function(i, error) {#}
{#                        var el = $(document).find('[name="' + i + '"]');#}
{#                        el.after($('<span style="color: red;">' + error[0] + '</span>')#}
{#                            .fadeOut(4000));#}
{#                    });#}
{#                }#}
{##}
{#                currentevent.attr('disabled', false);#}
{#            },#}
{#            complete: function(data) {#}
{#                setTimeout(function() {#}
{#                    $.unblockUI();#}
{##}
{#                }, 30000);#}
{##}
{#            }#}
{#        });#}
{#        });#}
{#    </script>#}

    <script>
        $(document).on('click', '#loadmore', function(e){
            e.preventDefault();
            var currentpage = parseInt($(this).attr('data-page'));
            var endpoint = "courses.html";
            // console.log(currentpage);
            var programtype = $('#programtype').val();
            var subject = $('#subject').val();
            var country = $('#country').val();
            $.ajax({
                type: "GET",
                url: endpoint + '?page='+currentpage,
                data: {
                    'page': currentpage,
                    programtype : programtype,
                    subject : subject,
                    country : country

                },
                beforeSend: function(data) {

                },
                success: function(data) {
                    console.log(data.data.nextpage);
                    $('#loadmore').attr('data-page',data.data.nextpage);

                    $('.loadMoreDiv').append(data.data.view);

                },
                error: function(err) {
                    if (err.status == 422) {
                        $.each(err.responseJSON.errors, function(i, error) {
                            var el = $(document).find('[name="' + i + '"]');
                            el.after($('<span style="color: red;">' + error[0] + '</span>')
                                .fadeOut(15000));
                        });
                    }
                },
                complete: function() {
                    $.unblockUI();
                }
            });

        });
    </script>
{% endblock %}

