<footer class="footer">
    <div class="bg-white">
        <div class="container">
            <div class="footer-cnt-1 bg-white px-3">
                <div class="ftr-block d-flex justify-content-between align-items-center mb-4">
                    <div class="ftr-block-l">
                        <a href="index.html" class="footer-brand">
                            <img loading="lazy" src="storage/upload/23/01/1672999082cropped-NEC-Logo_Dec-01-2-e1636266971251.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="ftr-block-r d-flex align-items-center">
                        <p class="p-text fw-8 text-primary mb-0 me-4 d-none d-sm-block pb-0">Follow Us</p>
                        <ul class="social-links d-flex">
                            <li><a target="_blank" href="#" class="icon-circle"><i class="fa-brands fa-linkedin"></i></a></li>
                            <li><a target="_blank" href="#" class="icon-circle"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a target="_blank" href="#" class="icon-circle"><i class="fa-brands fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-primary sc-py-6">
        <div class="container">
            <div class="footer-cnt-2 px-3 text-white">
                <div class="ftr-block">
                    <div class="three-cols-grid text-center text-md-start row justify-content-center">
                        <div class="col-md-12 mb-5 row col-xl-5 mb-xl-0">
                            <div class="border-btm pb-3 col-md-6 ps-md-0 col-xl-12 max-w-wrapper">
                                <h5 class="sc-title-sub text-white">Head Office</h5>
                                <p class="p-text fw-7 text-white mb-1">Beltola</p>
                                <p class="p-text text-white">Samonay Path, Discow Bat, House No 5, Survey, Beltola, Ghy 781028, Assam</p>
                                <div class="ftr-sm-grid">
                                    <span class="ftr-sm-grid-l">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <span
                                        class="ftr-sm-grid-r ms-2 p-text text-white" style="font-size: medium">ShivamCareerConsultancy@gmail.com
                                    </span>
                                </div>
                                <div class="ftr-sm-grid">
                                    <span class="ftr-sm-grid-l">
                                        <i class="fas fa-phone"></i>
                                    </span>
                                    <span
                                        class="ftr-sm-grid-r ms-2 p-text text-white">7002308575, 6000469347
                                    </span>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6 mb-4 col-xl-4 mb-xl-0">
                            <h5 class="sc-title-sub text-white">Destinations</h5>
                            <ul class="footer-links">
                                <li><a href="#"><span class="p-text">Study in India</span></a> </li>
                                <li><a href="#"><span class="p-text">Study in Canada</span></a> </li>
                                <li><a href="#"><span class="p-text">Study in Australia</span></a> </li>
                                <li><a href="#"><span class="p-text">Study in United Kingdom</span></a> </li>
                                <li><a href="#"><span class="p-text">Study in New Zealand</span></a> </li>
                                <li><a href="#"><span class="p-text">Study in Netherlands</span></a> </li>

                            </ul>
                        </div>

                        <div class="col-md-6 col-xl-3">
                            <h5 class="sc-title-sub text-white">Support</h5>
                            <ul class="footer-links">
                                <li><a href="{% url 'aboutus_page' %}"><span class="p-text">About Us</span></a></li>
                                <li><a href="{% url 'contact_page' %}"><span class="p-text">Contact Us</span></a></li>
                                <li><a href="{% url 'college_page' %}"><span class="p-text">Courses</span></a></li>
                                <li><a href="{% url 'blog_page' %}"><span class="p-text">Blogs</span></a></li>
                                <li><a href="{% url 'contact_page' %}"><span class="p-text">Counselling</span></a></li>
                                <li><a href="{% url 'contact_page' %}"><span class="p-text">Visa Assistance</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-btm-text px-3">
        <div class="container">
            <p class="p-text text-white mb-0 text-center text-lg-start">2023 Shivam Career Consultancy <span style="font-size: small">Made By: <a style="color: coral" href="https://sheltersearch.in">Srivardhan</a></span></p>
        </div>
    </div>
</footer>
