{% load static %}


<section class = "sc-tests bg-white sc-py-6 px-3 d-lg-flex align-items-lg-center">
    <div class = "container">
      <div class = "sc-tests-cnt">
        <div class = "sc-block row justify-content-lg-between">
          <div class = "sc-block-l position-relative col-lg-6 max-w-wrapper">
            <div class = "sc-title text-center text-lg-start">
              <h5 class = "sc-title-sub">Testimonials</h5>
              <h2 class = "sc-title-main max-w-wrapper">What Our Students Are Saying</h2>
            </div>
            <p>We have paved the education journey for many students, so they can enjoy their student life to the fullest in their favourite colleges.</p>
            <p>Find out how our students got to get ahead, what they have got to share with us.</p>
            <img src = "{% static 'front/assets/images/index-pg/testimonial-icon.png' %}" class = "text-icon">
          </div>

          <div class = "sc-block-r col-lg-6">
            <div class = "tests-slider">

            {% for testimonial in testimonials %}
              <div class = "tests-slider-item">
                <div class = "tests-slider-item-head">
                  <div class = "icon-avatar img-fit-cover">
                    <img alt="{{ testimonial.name }}" src = "{{ testimonial.image.url }}">
                  </div>
                  <div class = "info">
                    <p class = "mb-0 fw-6 p-text text-dark">{{ testimonial.name }}</p>
                    <p class = "mb-0 text-primary p-text">{{ testimonial.current_college }}</p>
                  </div>
                </div>
                <div class = "tests-slider-item-body">
                  <p class = "mb-0 p-text">&ldquo;{{ testimonial.review }}&rdquo;</p>
                </div>
                <img alt="" src = "{% static 'front/assets/images/icons/quote-icon.png' %}" class = "quote-icon">
              </div>
            {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
